body{
    background-color:#c8a2c8;
    font-family: "Chakra Petch", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: #D53EDB;
    color: white;
    font-family: "Chakra Petch", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 100%;
}